@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: Poppins;
  color: #000;
}


.overlay-video {
  position: absolute;
  top: 36%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: auto;
  border: 5px solid #000;
  z-index: 999;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .overlay-video {
    width: 35%; 
    top: 30%;
  }
}

@media (max-width: 600px) {
  .overlay-video {
    width: 35%;
    top: 28%;
  }
}

@media (max-width: 490px) {
  .overlay-video {
    width: 35%;
    top: 26%;
  }
}
